.oit-articles {
    margin-top: 50px;
    margin-bottom: 50px;
}

.oit-articles .section-title {
    margin-bottom: 30px;
}



.oit-article img{
    max-width: 100%;
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: top;
}

.oit-article-title a, .oit-article-product {
    display: block;
    text-transform: capitalize;
    margin-top: 5px;
    font-size: 1.1em;
    font-weight: 400;
    color: #111111;
    padding-left: 10px;
    padding-top: 10px;
}

.oit-article-product {
    color: #545454;
    font-size: .9em;
    padding-top: 0;
    padding-bottom: 10px;
}
.all-article-link {
    margin-top: 20px;
    color: #545454;
}

.oit-article-image {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
}

.oit-article-product-name {
    display: block;
    margin-top: 15px;
    font-size: 1.1em;
    font-weight: 400;
    color: #e51111;
}

.oit-article-resume {
    margin-top: 5px;
    color: #545454;
    font-size: .8em;
    line-height: 1.5em;
}